<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-icon-180x180.png">


    <title>Portfoilo</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
</head>

<body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
        <nav class="navbar  navbar-fixed-top navbar-default">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav ">
                        <li><a href="/" title="">01 : Home</a></li>
                        <li><a href="./works.html" title="">02 : Works</a></li>
                        <li><a href="./about.html" title="">03 : About me</a></li>
                        <li><a href="./contact.html" title="">04 : Contact</a></li>

                    </ul>


                </div>
            </div>
        </nav>
    </header>

    <div class="section-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-container-spacer text-center">
                        <h1 class="h2">Social distancing maintainer using ARDUINO UNO</h1>
                    </div>

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <h3>AIM</h3>
                                    <p> Our Project created aims to help reduce the potential spread of the disease by
                                        utilizing an ultrasonic distance sensor. The sensor measures the distance
                                        between itself and the object in front of it, whether it be an object or a
                                        person. If something comes within
                                        100 cm of the sensor, a buzzer sounds, and an LED lights up, therefore signaling
                                        that someone or something is within the range of social distancing
                                    </p>
                                    <h3> DESCRIPTIOIN </h3>
                                    <p>Today, social distancing has become a norm in any social interaction we have due
                                        to the increasing threat of the spread of Covid-19. There are many innovations
                                        that have been created to help combat and reduce the spread of the deadly
                                        disease, not just with other types of devices but using the power of Arduino as
                                        well. This can be seen in other projects across the website such as a Hand wash
                                        timer or an automatic hand sanitizer dispenser.

                                        This project created aims to help reduce the potential spread of the disease by
                                        utilizing an ultrasonic distance sensor. The sensor measures the distance
                                        between itself and the object in front of it, whether it be an object or a
                                        person. If something comes within 1.5m of the sensor, a buzzer sounds, and an
                                        LED lights up, therefore signaling that someone or something is within the range
                                        of social distancing.

                                        This Arduino device can be used in real-life situations. For example, if you're
                                        in a queue at a coffee shop or at a train station. I have included a hyperlink
                                        for a simple 3D rendering of the proposed housing via TinkerCad. With the
                                        housing, you could clip this product on your belt or just hold it.

                                        Overall, as individuals, we need to start adapting social distancing more and
                                        this is exactly what this device promotes through its visual and audio aids via
                                        the buzzer and LED.
                                    </p>

                                    <h3>NEED OF SDM </h3>
                                    <P>Around November 2019, the world was hit by a virus outbreak called Coronavirus
                                        Disease 19 or abbreviated covid19. In humans, Covid-19 causes respiratory tract
                                        infections from mild to deadly. The virus first appeared in Wuhan, one of
                                        China's cities. The intersection of news about the source of the appearance of
                                        this virus, ranging from food to poultry animals.
                                        This is because there is no clear information about the origin of the virus.
                                        The medium of transmission suspected of being a chain of transmission from one
                                        human to another is a droplet, in the form of saliva and sneezing fluid.
                                        Transmission from man to man has been confirmed to occur. In addition, the virus
                                        also sticks to solid objects for some time, it can be in a matter of hours or
                                        days depending on the density of the object and the temperature around it. If a
                                        human accidentally touches or holds an object exposed to a virus, it can move to
                                        humans.
                                        The medium of transmission suspected of being a chain of transmission from one
                                        human to another is a droplet, in the form of saliva and sneezing fluid.
                                        Transmission from man to man has been confirmed to occur. In addition, the virus
                                        also sticks to solid objects for some time, it can be in a matter of hours or
                                        days depending on the density of the object and the temperature around it. If a
                                        human accidentally touches or holds an object exposed to a virus, it can move to
                                        humans.
                                        Not all people exposed to Covid-19 show symptoms of pain. It depends on the
                                        stamina of the body and the immune strength that is in his body. Even in many
                                        cases someone exposed to Covid-19 shows no symptoms of pain at all. Although not
                                        sick, the human being can be a carrier for other humans. If the virus is
                                        attached to a person whose body and immune system condition is not good, then
                                        the person will be sick. Symptoms of Covid-19 can appear within 2–14 days after
                                        exposure to Covid-19, but most likely suffers symptoms after 11-12 days marked
                                        by appearance of cough, flu, fever and shortness of breath symptoms.
                                        This physical distance keeping behavior turned out not to be as easy as
                                        imagined. The main factor is because humans often forget when they have fun
                                        interacting so that they have unconsciously crossed a safe distance, or worse
                                        until they come into physical contact. With such a move, one must bear the role
                                        of an isolate that connotes negatively: power-free, lonely, boring, and so on.
                                        Distance-related research has been conducted by previous researchers including
                                        conducted by [6] under the title Handsight: Hand-Mounted Device to Help the
                                        Visually
                                        Impaired Based Ultrasonic and Arduino," Journal of
                                        Technology and Computer Systems, vol. 3, no. 1, pp. 51-57,
                                        Jan. 2015. Handsight can help users to avoid obstacles that are in front and can
                                        also be used to find objects on the table or floor. It consists of three main
                                        parts, namely a pair of sensors, microcontrollers and distance in the form of
                                        buzzers and servos. Two HC-SR04 sensors are mounted by forming an angle of about
                                        30o, and serve to detect objects and measure distance. The use of two sensors is
                                        expected to provide a fairly wide reading area, since the effective reading of
                                        each sensor is about 15o for each side, with the merging tool able to read
                                        objects with a total radius of 60 degrees.
                                        In addition, research conducted by titled Design blind guides using
                                        Microcontroller-Based Ultrasonic Sensors,
                                        Scientific Magazine of Electrical Technology, December 2017 Blind guide tool
                                        uses belt as the main design, so that it is more mobile. The blind guide tool
                                        uses the belt as the main design. Sensors are placed on the left, front and
                                        right sides of the belt to detect objects that are at the sensor reflection
                                        distance. The vibrating motor is placed on the side of the sensor to provide
                                        vibration when the ultrasonic sensor is active.
                                        The blind guide has specifications in detecting a distance of 30 cm on the left
                                        of the belt, 100 cm in front of the belt, 30 cm on the right of the belt and 120
                                        cm – 125 cm under the belt.

                                    </P>
                                    <p>
                                    <h4>CONCLUSION</h4>
                                    </p>
                                    <p>So we the team G7 are coming up with the idea of social distancing Maintainer
                                        Id-Card which serves as a social distancing reminder. Using this product
                                        community spread of virus can be diminished as this ensures the proper
                                        maintenance of distance among individuals to eliminate this deadly virus which
                                        is better known as Covid-19 pandemic</p>


                                </div>
                                <div>
                                    <img src="/static/assets/images/img1.jpeg" class="img-responsive1" alt="">
                                </div>




                                <div>
                                    <img src="/static/assets/images/img2.jpeg" class="img-responsive1" alt=""><br><br><br>
                                </div>
                                






                                 <div>
                                    <img src="/static/assets/images/img3.jpeg" class="img-responsive1" alt="">
                                </div>





                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <footer class="footer-container text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>© Created by Neeraj  </p>
                </div>
            </div>
        </div>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            navActivePage();
        });
    </script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

-->
    <script type="text/javascript" src="./main.70a66962.js"></script>
</body>

</html>